<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-bottom">
            <div class="welcome-script">
              <!-- <img class="bg-img" src="assets/image/logo.png" height="180px" width="180px" align="center"> -->
              <i class="fa fa-star"></i> Blog Star <i class="fa fa-star"></i>
            </div>
            <div class="menu">
              <ul class="nav nav-pills center-pills">
                <li role="presentation" class="underlineHover" routerLinkActive="active">
                  <a class="btn-connexion pointer" routerLink="/auth/login">LOGIN</a>
                </li>
                <li role="presentation" class="underlineHover" routerLinkActive="active">
                  <a class="btn-enregistrer active pointer" href="#" routerLink="/auth/register">REGISTER</a>
                </li>
              </ul>
            </div>

            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
