.box {
  padding: 15px;
  margin-bottom: 20px;
}

.card{
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(0,0,0,.1);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  background: rgba(255,255,255,0.9);
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-box{
  border: 1px solid rgb(103, 192, 142);
  background: #f3f3f3;
}
