<div *ngIf="articles.length === 0; else article;">
  <app-construction></app-construction>
</div>

<ng-template #article>
  <div class="box">
    <input class="form-control search-box" type="text" name="search" placeholder="Search by anything..." [(ngModel)]="filter">
  </div>

  <div class="card" *ngFor="let article of articles | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
    <app-article-item [law_id]="category_id" [article]="article" [index]="i">
    </app-article-item>
  </div>

</ng-template>
