@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans:400,700');

h2 {
  color: #3f3f3f;
  text-align: center;
  line-height: 1!important;
  font-weight: 700!important;
  font-size: 22px;
  font-family: "Roboto", Helvetica;
  margin: 20px 0 3px;
  padding-bottom:15px;
}

 h3 {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", Helvetica;
  color: #f2f2f2;
  text-align: center;
  margin: 0 0 15px;
  line-height: 25px;
}

.btn-primary{
  background-color: rgb(103, 192, 142);
}

.login_button{
  margin-bottom:20px;
}


.btn-primary:active:hover,
 .btn-primary.active:hover, .open >
 .dropdown-toggle.btn-primary:hover,
 .btn-primary:active:focus, .btn-primary.active:focus,
 .open > .dropdown-toggle.btn-primary:focus,
 .btn-primary:active.focus, .btn-primary.active.focus,
 .open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: rgb(103, 192, 142);
  border-color: rgb(103, 192, 142);
}

.has-error {
  color: rgb(247, 103, 103);
  margin: 5px;
}

/*THGIS*/

h4 {
  color: rgb(103, 192, 142);
}

a {
  color: rgb(103, 192, 142);
}

input{
  color: #a3a3a3;
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  /* background-color: #f9f9f9;  */
  border: none;
  /* border: 1px solid #afaeae; */
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  border: 1px solid #afaeae;
  -webkit-box-shadow: 0 5px 20px 0 rgba(102, 100, 100, 0.4);
  box-shadow: 0 5px 20px 0 rgba(102, 100, 100, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input + .input-icon i {
  color: #a3a3a3;
}

input:focus {
  outline: 0;
  border-color:  rgb(103, 192, 142);
}
input:focus + .input-icon i {
  color: rgb(103, 192, 142);
}
input:focus + .input-icon:after {
  border-right-color: rgb(103, 192, 142);
}

.input-group-custom {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  zoom: 1;
}
.input-group-custom:before,
.input-group-custom:after {
  content: "";
}
.input-group-custom:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

input.ng-touched.ng-invalid.ng-dirty {
  border: 1px solid rgb(241, 140, 140) !important;
}

.pointer {cursor: pointer;}

.error_text{
  color: rgb(241, 140, 140);
}

.login_button{
display:grid;
}

.login_or{
  font-size: 12px;
  font-family: "Roboto", Helvetica;
}

.login_submit{
  padding-top: 15px;
  display:grid;
  margin-bottom:0;

}

.login_side{
  padding: 0 40px;
}


/***********CENTERING HR *****************/
.hr-center {
  text-align: center;
  background: transparent;
  color: #f3f3f3;
  font-family: Futura, sans-serif;
  max-width: 50%;
  margin: 40px auto;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(224, 215, 215, 0.8);
	margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
	content: "";
	flex-grow: 1;
	background: linear-gradient(to right, transparent, #f3f3f3, transparent);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}


/********BUTTON FILL*********************/
/* Reset */

.animate, .btn, .btn-border:before, .btn-border:after {
  transition: all 0.5s;
}
.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 7px;
  font-size: 16px;
  position: relative;
  opacity: .999;
  -webkit-box-shadow: 0 10px 30px 0 rgba(103, 192, 142,0.4);
  box-shadow: 0 10px 30px 0 rgba(103, 192, 142,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-border {
  background-color: rgb(103, 192, 142);
  border: 1px solid #3f3f3f;
  color: #fcfcfa;
}
.btn-border:before, .btn-border:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 3px;
  box-sizing: content-box;
}
.btn-border:before {
  width: 0;
  height: 100%;
  border-width: 1px 0 1px 0;
  top: -1px;
  left: 0;
  transition-delay: 0.05s;
}
.btn-border:after {
  width: 100%;
  height: 0;
  border-width: 0 1px 0 1px;
  top: 0;
  left: -1px;
}
.btn-border:hover {
  background-color: transparent;
}
.btn-border:hover:before {
  width: 100%;
}
.btn-border:hover:after {
  height: 100%;
}

.btn-border.btn-purple:before, .btn-border.btn-purple:after {
  border-color: rgb(103, 192, 142);
}
.btn-border.btn-purple:hover {
  color: rgb(103, 192, 142);
}


/********UNDERLINE********/
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: rgb(120, 206, 157);
  content: "";
  transition: width 0.2s;
 }

 .underlineHover:hover {
  color: rgb(120, 206, 157) !important;
  font-weight: bold !important;
 }

 /* .underlineHover:hover:after{
  width: 100%;
 } */
